
<div class="centre" style="margin-top:10vh;">
    <div  class="main-body" style="display: flex; justify-content: center; width:100vw;">   
        <div class="login-container" style="min-width:350px; height:450px">
            <p class="sign-in"  style="display: flex; justify-content: center;"><a href="viewhh.html"></a>You are not part of a household, either create one or ask to be added</p>
            <div>
            <form action="/addHh" method="post"> 
                <div style="text-align: center;">
                    <p class="sign-in" style="font-size:17px; margin-top:0px; padding-bottom:0px">Household name</p>
                    <div class="centre">
                        <input style="display: flex; justify-content: center; width:15vw; vertical-align: middle;" type="text" style="display:inline" autocomplete="off" class="input-total" placeholder="Enter household name" name="name" required>  
                    </div>
                    <p></p>
                    <input class="btn1 addbill-btn" style="background-color:#5c6bc0; width:10vw; text-align: center; min-width:100px; margin-bottom:10px; width:15vw;" type="submit" value="Create">
                </div>
            </form> 
            </div>
        </div>
    </div>
</div>