
<div class="topnav" style="display: flex; justify-content: center;" >
    <div class="topnav-right" style="display: flex; justify-content: center;">
        <a class="menu-item" href="dashboard.html">Dashboard</a>
        <a class="menu-item" href="viewhh.html">Manage household</a>
        <a class="menu-item"  href="addbill.html">Add bill</a>
        <a class="menu-item"  href="managebillpay.html">Manage Bills to pay</a>
        <a class="menu-item" href="managebillreceive.html">Manage Bills to receive</a>
        <a class="menu-item" href="search.html">Search</a>
        <a class="menu-item"  href="logout">Logout</a>
    </div>
    
</div>
        