<div class="centre" style="margin-top:5vh;">
    <div class="grid-container" style="top:100vh;">
        <div class="column-left">
            <div class="main-body" style="display: flex; justify-content: center; width:100vw;">
                <div class="login-container" style="min-width:450px; width:30vw; margin-top:30px;">
                    <p class="sign-in">Bills that need to be paid to me</p>
                    <div style="width: 100%;" class="user-table">
                        <table id="table-entry" style="margin-top:20px; width:100%;">
                            <tr id="header-row"> 
                                <th>Bill Date:</th>
                                <th>Bill name:</th>
                                <th>Description:</th>
                                <th>Pay to:</th>
                                <th>Amount:</th>
                                <th style="width:10px">Delete:</th>
                        
                            </tr>

                            {%for bill in billPendingListItem%}
                                <form action="/updateStatusToPp" method="post">
                                <tr>
                                    <td>{{billPendingList[loop.index0].date}}</td>
                                    <td>{{billPendingList[loop.index0].name}}</td>
                                    <td>{{billPendingList[loop.index0].description}}</td>
                                    <td>{{billPendingNameList[loop.index0]}}</td>
                                    <td>{{billPendingListItem[loop.index0].amount}}</td>
                                    <input type="hidden" id="billId" name="billId1" value="{{billPendingListItem[loop.index0].id}}">
                                    
                                    <td><button name="delete" class="btn1 addbill-btn" style="width:80px; margin:10px; height:30px; color:rgb(255, 255, 255);" value="delete" type="submit">Delete</button></td>
                                </tr>
                                </form>
                            {%endfor%}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="column-right">
            <div class="main-body" style="display: flex; justify-content: center; width:100vw;">
                <div class="login-container" style="min-width:450px; width:30vw; margin-top:30px;">
                    <p class="sign-in">Bills awaiting approval</p>
                    <div style="width: 100%;" class="user-table">
                        <table id="table-entry" style="margin-top:20px; width:100%;">
                            <tr id="header-row"> 
                                    <th>Bill date:</th>
                                    <th>Bill paid:</th>
                                    <th style="width:15%">Bill name:</th>
                                    <th>Description:</th>
                                    <th style="width:15%">Pay to:</th>
                                    <th>Amount:</th>
                                    <th style="width:15%">Approve:</th>
                            </tr>
                        
                                {%for bill in billPendingApprovalListItem%}
                                <form action="/updateStatusToP" method="post">
                                    <tr>
                                        <td>{{billPendingApprovalList[loop.index0].date}}</td>
                                        <td>{{billPendingApprovalListItem[loop.index0].date_paid}}</td>
                                        <td>{{billPendingApprovalList[loop.index0].name}}</td>
                                        <td>{{billPendingApprovalList[loop.index0].description}}</td>
                                        <td>{{billPendingApprovalUser[loop.index0]}}</td>
                                        <td>{{billPendingApprovalListItem[loop.index0].amount}}</td>
                                        <input type="hidden" id="billId" name="billId1" value="{{billPendingApprovalListItem[loop.index0].id}}">
                                        <td><button name="approve" value="approve" style="background-color: rgb(25, 121, 25) ;margin-top:0px; height:30px; width:100px; margin: 5px" class="btn1 addbill-btn" type="submit">Approve</button>
                                        <button name="disapprove"value="disapprove" style="background-color: rgb(160, 9, 9) ;margin-top:0px; height:30px; width:100px; margin: 5px" class="btn1 addbill-btn" type="submit">Reject</button>
                                        </td>
                                    </tr>
                                </form>
                                {%endfor%}
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="column-center">
            <div class="main-body" style="display: flex; justify-content: center; width:100vw;">
                <div class="login-container" style="min-width:450px; width:30vw; margin-top:30px;">
                    <p class="sign-in">Completed bills</p>
                    <form action="/updateStatus" method="post">
                        <div style="width: 100%;" class="user-table">
                            <table id="table-entry" style="margin-top:20px; width:100%;">
                                <tr id="header-row"> 
                                    <th>Bill date:</th>
                                    <th>Bill paid date:</th>
                                    <th>Bill name:</th>
                                    <th>Description:</th>
                                    <th>Paid to:</th>
                                    <th>Amount:</th>
                                
                                </tr>
                            
                                    {%for bill in billCompletedListItem%}
                                    
                                <tr>
                                    <td>{{billCompletedList[loop.index0].date}}</td>
                                    <td>{{billCompletedListItem[loop.index0].date_paid}}</td>
                                    <td>{{billCompletedList[loop.index0].name}}</td>
                                    <td>{{billCompletedList[loop.index0].description}}</td>
                                    <td>{{billCompletedUser[loop.index0]}}</td>
                                    <td>{{billCompletedListItem[loop.index0].amount}}</td>
                                        
                                </tr>
                                    
                                {%endfor%}
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>