<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/main.css" type="text/css"
        charset="utf-8">
        <script src='static/js/jquery-3.6.0.min.js'></script>
        <script src='static/js/register.js'></script>
        <div class="heading">
    </head>

    
    <body  class="centre" style="width:100vw; margin-top:10vh;">
        <div class="centre" style="width:100vw; margin-top:10vh;">
            <div class="main-body" style="display: flex; justify-content: center;">   
                <div class="login-container" style="min-width:350px; height:700px">
                <form  method="post" onsubmit="return validate()"> 
                    <p class="sign-in">Register your account</p>
                    <input style="min-width:270px; width:20vw;" class="input-login" type="text" placeholder="Email" id="email" name="email" autocomplete="off" > 
                    <input style="min-width:270px; width:20vw;" class="input-login" type="text" placeholder="Name" id="name" name="name" autocomplete="off" >
                    <input style="min-width:270px; width:20vw;" class="input-login" type="password" placeholder="Password" id="password" name="password" autocomplete="off" > 
                    <input style="min-width:270px; width:20vw;" class="input-login" type="password" placeholder="Re-enter Password" id="repassword" name="re-password" autocomplete="off" name="password">
                <div style="text-align: center;">
                    <input class="login-btn btn1"  style="min-width:250px; margin-bottom:10px; width:15vw;" type="submit" value="Register"></input> 
                    <p class="register-here"><a href="/"> Already have an account. Sign in.</a></p>
                        
                    <div id="errors"></div>
                </div>
                </form>
                </div>
            </div>
        </div>
    </body>
</html>